/* Target all p elements */
/* p{

} */

/* target all p elements and h1 */
/* p,h1{

} */


/* Access id */
#myHeading {
    font-size: 50px;
}

/* Access class */
.center {
    text-align: center;
    color: crimson;
}

/* Access every element - can get override by a more specific selector */
/* *{
    text-align: end;
    color: blue;
    font-size: 50px;
} */

/* Descendant = all descendants will be styled ( a child of)  */
ol *{
    color: magenta;
}

/* Child selector = > - any DIRECT child will be styled */
div > h1 {
    color: lime; 
}

/* Adjacent selectors = + - siblings */
ol + p {
    color: red; 
}

/* Preceding siblings - match ALL siblings of a selected element = ~ */
h3 ~ p {
    color: blue; 
}