h1{
    text-align: center;
    margin-top: 30px;
    text-size-adjust:300%
}

.crud, #displayBox{
    padding:100px;
    margin: 30px;
    text-align: center;
    border-radius:10px
}

a:link{
    color:white;
    text-decoration:none
}


body{
    background-color:seagreen;
} 